.pointer{
    cursor:pointer;
}

.booked{
    background: green;
    color: white;
}

.seat:hover{
    background: green;
    color:white;
    transition: 0.5s ease-out;
}

.row_number{
    position:absolute;
    font-size:20px;
    top:7px;
    left:-16px;
}

.otherBooked{
    background: red;
    color: white;
    cursor: not-allowed;
}





